<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="">
        <i class="bi bi-menu-button-wide"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/add_product_page">
            <i class="bi bi-circle"></i><span>Add Products</span>
          </a>
        </li>
        <li>
          <a href="viewproduct">
            <i class="bi bi-circle"></i><span>View Products</span>
          </a>
        </li>




      </ul>
    </li>
    <!-- End Components Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Transaction</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/viewtransaction">
            <i class="bi bi-circle"></i><span>Transaction Table</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End transaction Nav -->



    <li class="nav-heading">Settings</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/sellerprofile">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/faq">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/contact">
        <i class="bi bi-file-earmark"></i>
        <span>Contact Us</span>
      </a>
    </li>
    <!-- End contact us Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->